* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: tomato;
}

nav {
  background-color: skyblue;
  padding: 8px 16px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 12px;
}

ul a:hover {
  text-decoration: none;
  color: red;
}
